body{
    background-color:rgb(77, 74, 74);
}
#mainheader{
    margin: auto;
    padding: 100;
    background-color:rgb(46, 44, 44);
    color: #FFE900;
    font-weight: 1000;
    font-size: large;
}

.diverFont{
    font-family: "Miriam Fixed", sans-serif;
    
    
}
.subFont{
    font-family: "Miriam Fixed", sans-serif;
    color: white;
}
h3{
    font-family: "Miriam Fixed", sans-serif;
    color:crimson ;
}
#slides{
    width: 450;
    height: auto;
    display: block;
    margin: auto;
}
footer{
    background-color: #FFE900;
    padding: 25;
    border: #FFE900;
    
}